<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
    <h2>DashBoard</h2>
    <p>Empresa Logada: <b>{{ empresa.nome }}</b></p>
    <a href="/logout">Sair</a>
    <hr>
    
    <p>Bem-vindo ao sistema Machine Docs</p>
    <h2>Equipamentos</h2>
    {% for equipamento in equipamentos %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px">
            <h3>{{ equipamento.nome }}</h3>
            <p>{{ equipamento.descricao }}</p>
            <a href="/equipamento/{{ equipamento.id }}">Ver documentos</a>
            <a href="/qrcode/equipamento/{{ equipamento.id }}" target="_blank">Gerar QR Code</a>
        </div>
    {% endfor %}
</body>
</html>